<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Weerbericht</title>

<!-- Styling -->
<link rel="stylesheet" href="/css/styles.css">

<!-- Remove favoico.ico error -->
<link rel="shortcut icon" href="#"/>

<!-- Language attribute -->
<html lang="nl"></html>



