body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a {
  color: #00B7FF;
}

.details {
  display: none;
}

.error {
  display: none;
}

table {
  width: 50%;
  margin: 1em;
  border: 0.5px solid black;
  text-align: left;
  border-spacing: 1em;
}

div {
  margin: 1em;
}
  