body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightskyblue;
}

div {
  margin-top: 1em;
}

button {
  background-color: white;
  border: 1px black;
  color: black;
  text-decoration: none;
  padding: 15px 32px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-right: 0.5em;
}

table {
  width: 50%;
  margin: 1em;
  border: 0.5px solid black;
  text-align: left;
  border-spacing: 1em;
}

.details {
  display: none;
}

.error {
  display: none;
}

#firstH, #secondH, #thirdH, #fourthH {
  display: none;
}