<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <!-- Data Verwerken -->
    <% 
    console.log("----")



    var days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'];

    var currentDate = new Date();
    
    if(day == 0) {
        var datum = "Vandaag"
    } else if(day < 7) {
        var datum = days[(parseInt(currentDate.getDay()) + parseInt(day)) - 1];
        console.log(datum);
    } else {
        console.log("Helaas is het niet mogelijk om langer dan een week vooruit te kijken")
    }

    var location = weatherData.location.city;
    var temperature = weatherData.current_observation.condition.temperature;

    console.log("----")
    %>

    <!-- Zichtbaar HTML -->
    <p id="datum">
        Weerbericht voor: 
        <%- datum %>, <%- location %> 
    </p>
    
    <p id="weerbericht">
        Temperatuur:
        <%- temperature %>
        graden.
    </p>

    
    
    <div id="navigatie" style="margin-top: 3em;">
        <p><b>Navigatie </b></p>
        <p> Rechts = dag vooruit</p>
        <p> Links = dag achteruit</p>
        <p> Onder = vandaag</p>
        <p> Boven = meer opties</p>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>