<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <!-- Data Verwerken -->
    <% 

    console.log("----")

    console.log(day)
    console.log(weatherData)

    var location = weatherData.location.city;
    var temperature = weatherData.current_observation.condition.temperature;

    console.log("----")

    %>

    <!-- Zichtbaar HTML -->
    <p id="datum">
        Weerbericht voor: 
    </p>

    <p id="weerbericht">
        Het is vandaag 
        <%- temperature %>
        graden.
    </p>

    <p id="locatie">
        U bevind zich momenteel in <%- location %> 
    </p>
    
    <div id="navigatie" style="margin-top: 3em;">
        <p><b>Navigatie </b></p>
        <p> Rechts = dag vooruit</p>
        <p> Links = dag achteruit</p>
        <p> Onder = vandaag</p>
        <p> Boven = meer opties</p>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>