<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- Data manipulatie -->
    <% 
    console.log("----")

    var currentDate = new Date();

    if(day == 0) {
        var datum = "Nu"
    } else if (day < 7) {
        var days = ['Maandag','Dinsdag','Woensdag','Donderdag','Vrijdag','Zaterdag', 'Zondag'];
        var datum = days[(parseInt(currentDate.getDay()) + parseInt(day)) - 1];
    } else {
        console.log("Helaas is het niet mogelijk om langer dan een week vooruit te kijken")
    }

    var location = weatherData.location.city;

    if(day == 0) {
        var temperature = weatherData.current_observation.condition.temperature;
    } else {
        var temperature = "tussen " + weatherData.forecasts[day].low + " en " + weatherData.forecasts[day].high;
    }

    console.log("----")
    %>

    <!-- Zichtbaar HTML -->
    <p id="datum">
        Weerbericht voor: 
        <%- datum %>, <%- location %> 
    </p>

    <p id="weerbericht">
        Temperatuur:
        <%- temperature %>
        graden.
    </p>

    <div id="details" class="details">
        <p>kiekeboe</p>
    </div>

    <div id="navigatie" style="margin-top: 3em;">
        <p><b>Navigatie </b></p>
        <p> Rechts = dag vooruit</p>
        <p> Links = dag achteruit</p>
        <p> Onder = vandaag</p>
        <p> Boven = meer informatie</p>
    </div>

    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>